<% layout("/layouts/boilerplate") %>

  <body>
    <h3>Edit your Listing</h3>
    <br><br>

<!-- listinggg used for  line 169(aap.js)   await listing.findByIdAndUpdate(id, { ...req.body.listinggg });
so that database can align names with schema name parameters -->

<!-- look carefully the value field -->
<!-- here value means initial value means the previous values before editing -->
<!-- listinggg is an object -->
<!-- listinged is sent from edit route  -->
<!-- methodoverride post to put as form can only send get or post -->
    <form method="POST" action="/listing/<%= listinged._id %>?_method=PUT" novalidate class="needs-validation">
      
      <div class="mb-3">
        <label  for="title" class="form-label" >title</label>

        <input  name="listinggg[title]" value="<%= listinged.title %>" type="text" class="form-control" required />
   
      </div>
      
      <div class="mb-3">
      <label for="discription" class="form-label">discription</label>
      <textarea class="form-control"  required name="listinggg[description]">
        <%= listinged.description %></textarea
              >

      </div>


      <div class="mb-3">
      <label for="image" class="form-label">image</label>
      <input name="listinggg[image]" value="<%= listinged.image %>" type="text" />


      </div>


      <div class="mb-3">
      <label for="price" class="form-label">price</label>

      <input  name="listinggg[price]" value="<%= listinged.price %>" type="number" class="form-control" required/>

      </div>


      <div class="mb-3">
      
      
        <label for="country" class="form-label">country</label>

        <input
        class="form-control"  required
        name="listinggg[country]"
        value="<%= listinged.country %>"
        type="text"
      />
      </div>

      <div class="mb-3">
        <label for="location" class="location">discription</label>

        <input
        class="form-control" required
        name="listinggg[location]"
        value="<%= listinged.location %>"
        type="text"
        class="form-label"
      />
      </div>
      
      
      
    
      <button class="btn btn-dark">Edit</button>

    </form>
    
  </body>
  <script src="/js/script.js"></script>
