<% layout("/layouts/boilerplate") %>

    <h3>all listings</h3>
    <!-- <form method="GET" action="/listing/new">
        <button>Create New Listing</button>
      </form> -->

      <!-- class row to display in row -->
      <!--  row-cols-lg-3 to display 3 or more cards in a column , lg for in large screen  -->
            <!--  row-cols-md-3 to display 3 or more cards in a column , md for in medium screen  -->
              <!-- in sm small only one column -->
       <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let listing of allListing){%>

          <!-- a tag to show listings page  -->
          
          <a href="/listing/<%= listing._id%>" class="listing-link">
          <div class="card" style="width: 20rem;">
            <img src="<%=listing.image%>" class="card-img-top" alt="listingimage" style="height:20rem ;">
            
            <!-- for bootstrap overlay effect that shows text on image -->
            <div class="card-img-overlay">sidbnb</div>

            
            
            <div class="card-body">
              <p class="card-text">
                <b><%=listing.title%></b> <br>
                <!-- toLocaleString("en-IN") converts the value to indian comma , separated -->
                <!-- 8377 ; for rupee symbol -->
                 &#8377; <%=listing.price %>/night
              </p>
            </div>
          </div>
        
        </a>
        <%  } %>
  
       </div>
      
      
      
      
       <!-- to print listings
        <% for(let listing of allListing){%>
            <li><a href="/listing/<%= listing._id %>"> <%=listing.title%></a></li>
             
      <%  } %> -->
    </ul>

