<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
<!-- row col for centering -->

    <h3>listing details</h3>
 </div>
<div class="card col-6 offset-2">

    <!-- here we have two classes as card-img-top and show-img -->
        <img src="<%=listingp.image%>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">
                <b><%=listingp.title%></p></b><br>
                <li><%= listingp.description %></li><br>
                    <!-- tolocalestring converts to string with en(indian) comma separated for currency -->

                <li><%= listingp.price.toLocaleString("en-IN") %></li> <br>

                <li><%= listingp.location %></li><br>
                <li><%= listingp.country %></li>
        
            </div>
         
</div>

    <!-- <ul>
    <li><%= listingp.title %></li>
   
    </ul> -->

    

<div class="btns">

    <a href="/listing/<%= listingp._id %>/edit" class="btn btn-dark offset-2 edit-btn" style="background-color: red;">Edit</a>
    


    <form method="POST" action="/listing/<%=listingp._id%>?_method=DELETE">
        <button class="btn btn-dark  offset-4">Delete</button>




    </div>
</div>

</div>